---
layout: page 
---
<div class="home">

<script type="text/javascript" src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>

<div class="search">
    <div class="search-input-wrap">
    <input type="text" class="js-search-input search-input input-block form-control" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
    </div>
    <br>
    <div class="js-search-results search-results-wrap"></div>
</div>

{%- include post_category_blocks.html -%}

</div>


<style> 
@import url('https://fonts.googleapis.com/css2?family=Roboto');
h1{ text-align: center; font-size: 50px; color: #0352fc; font-family: 'Roboto', serif;}
h2{ text-align: left; font-size: 18px; color: #0352fc;}
body{ text-align: left; font-size: 15px; font-family: 'Roboto', serif; background: black; }
</style>